#### 1. Python syntax: comments

In [69]:
# PEP 8 -- Style Guide for Python Code
# https://www.python.org/dev/peps/pep-0008/

# If your IDE suggests you any syntax hints that are according to PEP 8, just get it. 

print("Inline comments") # This is inline comments

# Try "ctrl"+"/" (after code selection) for multiline comments

# 1
# 2
# 3
# 4

# Triple double and single quote(“ “ “ or ‘ ‘ ‘) are also used for multi-line comments

Inline comments

#### 2. Python syntax: indents, if else statement, for and while loops

In [76]:
# if else condition
flag = 2
if flag == True: 
    print("OK")  # every indent has 4 spaces which is equal to 1 tab
elif flag == 2:
    print("It is two")
else:
    print("Not OK")
print()   
  
# for loop
for x in range(0,6):  # including 0 but excluding 6
  print(x)
print()


# whle loop
x=0
while x < 10:
    print(f'Iteration no. {x}') 
    x=x+1

Iteration no. 0
Iteration no. 1
Iteration no. 2
Iteration no. 3
Iteration no. 4
Iteration no. 5
Iteration no. 6
Iteration no. 7
Iteration no. 8
Iteration no. 9

#### 3. Python standard data types: int, float

In [13]:
# Numbers: int,float

a = 1
b = 1.5
c = -1.5
s = "AGH"

print(type(a))
print(type(b))
print(type(c))
print(type(s))

d = 2.5

for i in range(50):
    d=d*3
    print(d, type(d))

# In Python, integer is not restricted by the number of bits and can reach 
# to the limit of the available memory

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
7.5 <class 'float'>
22.5 <class 'float'>
67.5 <class 'float'>
202.5 <class 'float'>
607.5 <class 'float'>
1822.5 <class 'float'>
5467.5 <class 'float'>
16402.5 <class 'float'>
49207.5 <class 'float'>
147622.5 <class 'float'>
442867.5 <class 'float'>
1328602.5 <class 'float'>
3985807.5 <class 'float'>
11957422.5 <class 'float'>
35872267.5 <class 'float'>
107616802.5 <class 'float'>
322850407.5 <class 'float'>
968551222.5 <class 'float'>
2905653667.5 <class 'float'>
8716961002.5 <class 'float'>
26150883007.5 <class 'float'>
78452649022.5 <class 'float'>
235357947067.5 <class 'float'>
706073841202.5 <class 'float'>
2118221523607.5 <class 'float'>
6354664570822.5 <class 'float'>
19063993712467.5 <class 'float'>
57191981137402.5 <class 'float'>
171575943412207.5 <class 'float'>
514727830236622.5 <class 'float'>
1544183490709867.5 <class 'float'>
4632550472129602.0 <class 'float'>
1.3897651416388806e+16 <class 'float'>
4.169295424916642e+16 <class 'float'>
1.2507886274749925e+17 <class 'float'>
3.752365882424977e+17 <class 'float'>
1.1257097647274931e+18 <class 'float'>
3.3771292941824794e+18 <class 'float'>
1.0131387882547438e+19 <class 'float'>
3.0394163647642313e+19 <class 'float'>
9.118249094292695e+19 <class 'float'>
2.7354747282878084e+20 <class 'float'>
8.206424184863426e+20 <class 'float'>
2.461927255459028e+21 <class 'float'>
7.385781766377083e+21 <class 'float'>
2.215734529913125e+22 <class 'float'>
6.647203589739375e+22 <class 'float'>
1.9941610769218126e+23 <class 'float'>
5.982483230765438e+23 <class 'float'>
1.7947449692296313e+24 <class 'float'>

#### 3. Python standard data types: string

In [94]:
# Strings

name = "James"
surname = "Bond"

full = name + " " +surname

print(full)
print(type(full))

variable = input("Give your input")

print(type(variable))

James Bond
<class 'str'>

Give your input 123

<class 'str'>

#### 3. Python standard data types: list

In [103]:
# List 
# (is mutable)

productsList = ["apple", "banana", "grape"]
print(type(productsList))
productsList.append("peach")
print(sys.getsizeof(productsList))
productsList[1] = "blackberry"
print(productsList)

<class 'list'>
112
['apple', 'blackberry', 'grape', 'peach']

#### 3. Python standard data types: tuples

In [101]:
# Tuples
# (is not mutable)
productsTuple = ("apple", "banana", "grape", "peach")
print(type(productsTuple))
print(sys.getsizeof(productsTuple))

productsTuple[1] = "blackberry"

<class 'tuple'>
72

TypeError: 'tuple' object does not support item assignment

#### 3. Python standard data types: dictionary

In [2]:
# Dictionaries

cars = {"BMW": 12000, "Opel": 300000, "Seat": 50600}

print(cars["BMW"])

cars["Renault"]="45000"
print(cars)
cars.pop("BMW")
print(cars)

12000
{'BMW': 12000, 'Opel': 300000, 'Seat': 50600, 'Renault': '45000'}
{'Opel': 300000, 'Seat': 50600, 'Renault': '45000'}

In [15]:
# Different types of sets in Python
# set of integers
first_set = {1, 2, 3}
print(first_set)

# set of mixed datatypes
second_set = {4, (1, 2, 3),"text"}
print(second_set)

{1, 2, 3}
{'text', (1, 2, 3), 4}

#### 4. User defined functions

In [104]:
# This is definition of a function
def sum(a, b):
    return a+b

# Function execution for various types of input arguments
print(sum(1,2)) # 3
print(sum(2.5, 4.7)) # 7.2
print(sum("1", "2")) # 12
print(sum([1,2,3], [10,11])) # [1,2,3,10,11]

# Data allocation verification (to show in Pycharm)
def sum_numbers(a: int, b: int) -> int:
    return a+b

print(sum_numbers(3,4.4))

3
7.2
12
[1, 2, 3, 10, 11]
7.4

In [17]:
a = 1
b = 1.5
c = [1,2,3]
d = (1,2,3)
e = {1,2,3}
f = {"one":1, "two":2, "three":3}
g = "AGH"
h = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'str'>
<class 'bool'>