#### 1. Python syntax: comments

In [69]:
# PEP 8 -- Style Guide for Python Code
# https://www.python.org/dev/peps/pep-0008/

# If your IDE suggests you any syntax hints that are according to PEP 8, just get it. 

print("Inline comments") # This is inline comments

# Try "ctrl"+"/" (after code selection) for multiline comments

# 1
# 2
# 3
# 4

# Triple double and single quote(“ “ “ or ‘ ‘ ‘) are also used for multi-line comments

Inline comments

#### 2. Python syntax: indents, if else statement, for and while loops

In [3]:
# # if else condition
# flag = 2
# if flag == True: 
#     print("OK")  # every indent has 4 spaces which is equal to 1 tab
# elif flag == 2:
#     print("It is two")
# else:
#     print("Not OK")
# print()   
  
# # for loop
# for x in range(0,6):  # including 0 but excluding 6
#   print(x)
# print()


# whle loop
x=0
while x < 10:
    print(f'Iteration no. {x}') 
    x=x+1

Iteration no. 0
Iteration no. 1
Iteration no. 2
Iteration no. 3
Iteration no. 4
Iteration no. 5
Iteration no. 6
Iteration no. 7
Iteration no. 8
Iteration no. 9

#### 3.1 Python standard data types: int, float

In [7]:
# # Numbers: int,float

# a = 1
# b = 1.5
# c = -1.5
# s = "AGH"

# print(type(a))
# print(type(b))
# print(type(c))
# print(type(s))

d = 2.5

for i in range(70):
    d=d*2
    print(d, type(d))

# # In Python, integer is not restricted by the number of bits and can reach 
# # to the limit of the available memory

5.0 <class 'float'>
10.0 <class 'float'>
20.0 <class 'float'>
40.0 <class 'float'>
80.0 <class 'float'>
160.0 <class 'float'>
320.0 <class 'float'>
640.0 <class 'float'>
1280.0 <class 'float'>
2560.0 <class 'float'>
5120.0 <class 'float'>
10240.0 <class 'float'>
20480.0 <class 'float'>
40960.0 <class 'float'>
81920.0 <class 'float'>
163840.0 <class 'float'>
327680.0 <class 'float'>
655360.0 <class 'float'>
1310720.0 <class 'float'>
2621440.0 <class 'float'>
5242880.0 <class 'float'>
10485760.0 <class 'float'>
20971520.0 <class 'float'>
41943040.0 <class 'float'>
83886080.0 <class 'float'>
167772160.0 <class 'float'>
335544320.0 <class 'float'>
671088640.0 <class 'float'>
1342177280.0 <class 'float'>
2684354560.0 <class 'float'>
5368709120.0 <class 'float'>
10737418240.0 <class 'float'>
21474836480.0 <class 'float'>
42949672960.0 <class 'float'>
85899345920.0 <class 'float'>
171798691840.0 <class 'float'>
343597383680.0 <class 'float'>
687194767360.0 <class 'float'>
1374389534720.0 <class 'float'>
2748779069440.0 <class 'float'>
5497558138880.0 <class 'float'>
10995116277760.0 <class 'float'>
21990232555520.0 <class 'float'>
43980465111040.0 <class 'float'>
87960930222080.0 <class 'float'>
175921860444160.0 <class 'float'>
351843720888320.0 <class 'float'>
703687441776640.0 <class 'float'>
1407374883553280.0 <class 'float'>
2814749767106560.0 <class 'float'>
5629499534213120.0 <class 'float'>
1.125899906842624e+16 <class 'float'>
2.251799813685248e+16 <class 'float'>
4.503599627370496e+16 <class 'float'>
9.007199254740992e+16 <class 'float'>
1.8014398509481984e+17 <class 'float'>
3.602879701896397e+17 <class 'float'>
7.205759403792794e+17 <class 'float'>
1.4411518807585587e+18 <class 'float'>
2.8823037615171174e+18 <class 'float'>
5.764607523034235e+18 <class 'float'>
1.152921504606847e+19 <class 'float'>
2.305843009213694e+19 <class 'float'>
4.611686018427388e+19 <class 'float'>
9.223372036854776e+19 <class 'float'>
1.844674407370955e+20 <class 'float'>
3.68934881474191e+20 <class 'float'>
7.37869762948382e+20 <class 'float'>
1.475739525896764e+21 <class 'float'>
2.951479051793528e+21 <class 'float'>

#### 3.2 Python standard data types: string

In [94]:
# Strings

name = "James"
surname = "Bond"

full = name + " " +surname

print(full)
print(type(full))

variable = input("Give your input")

print(type(variable))

James Bond
<class 'str'>

Give your input 123

<class 'str'>

#### 3.3 Python standard data types: list

In [103]:
# List 
# (is mutable)

productsList = ["apple", "banana", "grape"]
print(type(productsList))
productsList.append("peach")
print(sys.getsizeof(productsList))
productsList[1] = "blackberry"
print(productsList)

<class 'list'>
112
['apple', 'blackberry', 'grape', 'peach']

#### 3.4 Python standard data types: tuples

In [101]:
# Tuples
# (is not mutable)
productsTuple = ("apple", "banana", "grape", "peach")
print(type(productsTuple))
print(sys.getsizeof(productsTuple))

productsTuple[1] = "blackberry"

<class 'tuple'>
72

TypeError: 'tuple' object does not support item assignment

#### 3.5 Python standard data types: dictionary

In [9]:
# Dictionaries

cars = {"BMW": 12000, "Opel": 300000, "Seat": 50600}

print(cars["BMW"])

cars["Renault"]="45000"
print(cars)
cars.pop("BMW")
print(cars)

cars["Opel"]=310000
print(cars)

12000
{'BMW': 12000, 'Opel': 300000, 'Seat': 50600, 'Renault': '45000'}
{'Opel': 300000, 'Seat': 50600, 'Renault': '45000'}
{'Opel': 310000, 'Seat': 50600, 'Renault': '45000'}

In [15]:
# Different types of sets in Python
# set of integers
first_set = {1, 2, 3}
print(first_set)

# set of mixed datatypes
second_set = {4, (1, 2, 3),"text"}
print(second_set)

{1, 2, 3}
{'text', (1, 2, 3), 4}

#### 4. User defined functions

In [14]:
# # This is definition of a function
# def sum(a, b):
#     return a+b

# # Function execution for various types of input arguments
# print(sum(1,2)) # 3
# print(sum(2.5, 4.7)) # 7.2
# print(sum("1", "2")) # 12
# print(sum([1,2,3], [10,11,34])) # [1,2,3,10,11]

# Data allocation verification (to show in Pycharm)
def sum_numbers(a: int, b: int) -> int:
    return a+b

result=sum_numbers(3,4.45)
print(result)
print(type(result))

7.45
<class 'float'>

In [17]:
a = 1
b = 1.5
c = [1,2,3]
d = (1,2,3)
e = {1,2,3}
f = {"one":1, "two":2, "three":3}
g = "AGH"
h = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'str'>
<class 'bool'>

In [ ]:
sum()